OPEN_WEATHER_KEY=your_api_key_here
OPEN_AI_KEY=your_api_key_here
VISUAL_CROSSING_KEY=your_api_key_here
OPEN_ROUTE_KEY=your_api_key_here
NGROK_KEY=your_api_key_here

db_params = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': 'your_password_here',
    'host': 'localhost',
    'port': '5432'
}